## 1. Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
#Creating a path shortcut for file importing and exporting
pathname=r'/Users/alejandrocisneros/Desktop/Data Analysis Coursework/Data Immersion/Achievement 4/02-2024 Instacart Basket Analysis'

In [5]:
pathname

'/Users/alejandrocisneros/Desktop/Data Analysis Coursework/Data Immersion/Achievement 4/02-2024 Instacart Basket Analysis'

In [6]:
#Importing combined order/products prior dataframe in pkl format and cleaned products dataframe
df_ords_prods_comb=pd.read_pickle(os.path.join(pathname, '2. Data', 'Prepared Data', 'order_products_combined.pkl'))
df_prods=pd.read_csv(os.path.join(pathname,'2. Data', 'Prepared Data', 'products_checked.csv'))

In [7]:
#Testing
df_ords_prods_comb.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,1,2,8,11.114836,196,1,0
1,0,0,2539329,1,1,2,8,11.114836,14084,2,0
2,0,0,2539329,1,1,2,8,11.114836,12427,3,0
3,0,0,2539329,1,1,2,8,11.114836,26088,4,0
4,0,0,2539329,1,1,2,8,11.114836,26405,5,0

In [8]:
#Testing
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_ords_prods_comb.shape

(32434489, 11)

In [10]:
df_prods.shape

(49672, 6)

In [11]:
#Merging both the pre-merged order/prior dataframe and the cleaned products dataframe
df_ords_prods_merged=df_prods.merge(df_ords_prods_comb, on='product_id',indicator=True)

In [23]:
#Testing
df_ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.000000,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.000000,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.000000,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,11.114836,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.000000,11,1,both

In [12]:
#Using the value_counts function to verify amount of full, left or right joins
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
#We now export it as another pkl file to our Instacart folder
df_ords_prods_merged.to_pickle(os.path.join(pathname, '2. Data', 'Prepared Data', 'ords_prods_merge.pkl'))